body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

nav {
  width: 100%;
}

ul {
  color: white;
  display: flex;
  justify-content: space-evenly;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1 {
  margin-top: 50px;
  margin-left: 20px;
}

h2 {
  padding-top: 0px;
  margin-left: 10px;
}

p {
  margin-left: 10px;
  margin-right: 10px;
}

a {
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(0, 110, 255);
}

.months {
  color: blueviolet;
}

.about {
  background-color: lightgray;
  width: 220px;
  height: 300px;
  margin-left: 120px;
}

.archives {
  width: 220px;
  height: 300px;
  margin-left: 120px;
}

.container {
  width: 980px;
  margin-top: 40px;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
}

.container-2 {
  width: 980px;
  margin-top: -100px;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
}

.img1,
.img2,
.img3 {
  width: 100%;
}

.article-1,
.article-3 {
  border: 3px solid lightgray;
  width: 480px;
}

.article-2 {
  border: 3px solid lightgray;
  width: 480px;
  position: relative;
  margin-top: -455px;
  margin-left: 1200px;
}

.container-3 {
  display: flex;
}

.sign-in {
  width: 480px;
  height: 990px;
  position: absolute;
  margin-top: -995px;
  margin-left: 1800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  width: 300px;
  flex-direction: column;
  background-color: lightgrey;
  align-items: center;
  text-align: center;
}

.input {
  margin-top: 10px;
  width: 200px;
  height: 30px;
}

.Sign-in {
  width: 200px;
  height: 40px;
  font-size: 20px;
  color: white;
  background-color: cornflowerblue;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer {
  background-color: lightgrey;
  margin-top: 10px;
  text-align: center;
}
