body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

header,
main,
footer {
  border: 1px solid lightblue;
}

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

nav {
  width: 100%;
}

ul {
  color: white;
  display: flex;
  justify-content: space-evenly;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.main {
  width: 100%;
  margin-top: 30px;
}

h1 {
  margin-top: 50px;
  margin-left: 20px;
}

h2 {
  padding-top: 0px;
  margin-left: 10px;
}

p {
  margin-left: 10px;
  margin-right: 10px;
}

a {
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(0, 110, 255);
}

.months {
  color: blueviolet;
}

.about {
  background-color: lightgray;
  width: 220px;
  height: 300px;
  margin-left: 120px;
}

.archives {
  width: 220px;
  height: 300px;
  margin-left: 120px;
}

.container {
  width: 980px;
  margin-top: 40px;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
}

.container-2 {
  width: 980px;
  margin-top: 40px;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
}

.img1,
.img2,
.img3 {
  width: 100%;
}

.article-1,
.article-3 {
  border: 3px solid lightgray;
  width: 480px;
}

.article-2 {
  border: 3px solid lightgray;
  width: 480px;
  position: fixed;
  margin-top: -425px;
  margin-left: 1200px;
}

.login {
  width: 20%;
}

.footer {
  position: fixed;
  margin-bottom: 10px;
}
